<div>
<input type="checkbox" class="checkbox u-left" id="contact-phonetic" name="contact-phonetic" ng-model="ctrl.phoneticEnable" ng-change="ctrl.updateOptions()"/>
<label for="contact-phonetic">{{ctrl.t.phoneticText}}</label><br>
</div>
<div>
<input type="checkbox" class="checkbox u-left" id="contact-reverse-order" name="contact-reverse-order" ng-model="ctrl.reverseNameOrder" ng-change="ctrl.updateOptions()"/>
<label for="contact-reverse-order">{{ctrl.t.reverseNameOrderText}}</label><br>
</div>
